@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Quicksand', sans-serif;
    
}

.container{
    max-width: 1100px;
    margin: auto;

}
/*utility classes */
.primary-text{
    color: orange;
}

.btn{
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
}
.btn-primary{
    color: white;
    border: 1px solid white;
}
.btn-secondary{
    color: white;
    background: #383848;
    margin-top: 5px;
}
.btn-primary:hover ,
.btn-secondary:hover{
    background-color: orange;
    cursor: pointer;
}
/* header start */
ul{
    list-style: none;
}
a{
    text-decoration: none;

}
header{
    height: 100vh;
    background: url("./img/home_bg.jpeg") center center/cover no-repeat;
    position: relative;
}
#navbar{
    display: flex;
    justify-content: space-between;

    align-items: center;

}
#navbar img{
    width: 80px;
    margin-left: 100px;

}
#navbar ul{
display: flex;
margin-right: 100px;

}
#navbar ul li a{
    padding: 15px 20px;
    color: white;
    font-weight: 600;
}
#navbar ul li a:hover{
    border-bottom: 2px solid #e4b95b;
}

header .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%;
}
header .content h1{
    font-size: 40px;
    color: white;

}
header .content p{
    margin: 20px 0 40px;
    color: white;
}

header::before{
content:"";
position: absolute;
top: 0;
left: 0;    
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.6);
}
header *{
    z-index: 10;
}
/* header end */
/* about start */
#about{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
#menu .title,
#about .title,
#offers .title{
    text-align: center;
    margin-bottom: 40px;
}

#menu .title h2,
#about .title h2,
#offers .title h2,
#gallery .container h2
{
    font-size: 40px;
    margin-bottom: 20px;
}
#about .title h2,
#menu .title h2{
        color: #383848;
}
#about .title p,
#menu .title p{
    color: #9a9a9a;
    font-size: 14px;
    font-weight: 600;
}
#about .about-content{
    display: flex;
    justify-content: space-between;

}
#about .about-content  img{
    width: 400px;
}
#about .about-content p{
    width: 500px;
    color: #9a9a9a;
    font-weight: 500;
    margin-right: 7rem;
    line-height: 1.6;
}

/* offers start */

#offers{
    height: 80vh;
    background: url('./img/offer-background.jpg') center center/cover fixed;
    display: flex;
    justify-content: center;
}
#offers .title h2{

    color: #e4b95b;
}
#offers  .title p{
    color: white;
    font-weight: 500;

}

#offers .offers-items{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

#offers .offers-items img{
    width: 200px;
}
#offers .offers-items h3{
    font-size: 20px;
    margin: 15px 0;

}
#offers .offers-items p{
    font-size: 14px;
    padding: 20px;
    font-weight: 300;
    margin-bottom: 15px;

}
#offers .offers-items span{
    font-size: 18px;
    font-weight: 500;
    margin-left:5px ;
}

/* offers end */


/* menu start */
#menu{
    padding: 5rem 0;
    background: #f4f4f4;
}
#menu .menu-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu .menu-items .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

#menu .menu-items .menu-item img{
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
}
#menu .menu-items .menu-item h3{
    color: #383848;
    border-bottom: 1px dashed #c2bdbd;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 10px;
}
#menu .menu-items .menu-item h3 span{
    position: absolute;
    top: 0;
    right: 0;
}
#menu .btn{
    margin: 20px auto 0 ;
    display: block;
    color: white;
    background-color: #e4b95b;
    cursor: pointer;
}
#menu .btn:hover{
    background-color: #383848;
}
/* menu end */

/* daytime start */
#daytime{

    background: url('./img/daytime_bg.jpeg') center center/cover fixed no-repeat ;
    color: white;
    text-align: center;

}
#daytime .daytime-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
}

#daytime .daytime-items .daytime-item h3{
    font-size: 30px;
    margin:20px 0  10px;
}
#daytime .daytime-items .daytime-item p{
    font-weight: 500;
}
/* daytime end */
/* gallery start */
#gallery{
    background: url('./img/offer-background.jpg') center center/cover  no-repeat ;
    padding: 8rem 0 6rem;


}
#gallery .container h2{
    text-align: center;
    color: white;

}
#gallery .img-gallery img{
    width: 280px;
    height: 200px;
    border-radius: 15px;
    margin: 20px;
    opacity: 0.8;
}
#gallery .img-gallery img:hover{
    opacity: 1;
    cursor: pointer;
}
#gallery .img-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* gallery end */
/* contact start */

#contact{
    padding: 5rem 0;
    background: #f4f4f4;
}

#contact .container{
    max-width: 900px;
}
#contact .contact-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contact .contact-content .contact-info{
    width: 50%;
}

#contact .contact-content .contact-info div{
    line-height: 1.7;
    margin:30px 0 ;
}

#contact .contact-content .contact-info h3{
    margin-bottom: 15px;
    color: #383848;
    font-size: 28px;
}

#contact .contact-content .contact-info p{
    color: #9a9a9a;
}

#contact .contact-content .contact-info  i{
    color: orange;
    margin-right: 5px;
}
#contact .contact-content .contact-info a i {
    background-color:#383848 ;
    color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
}

#contact .contact-content .contact-info a i:hover{
    background-color: orange;
    color: #383848;
    cursor: pointer;
}
#contact-form{
    width: 50%;

}
form input,
    textarea{
    display: block;
    width: 100%;
    padding:  20px 15px;
    margin:20px 0 ;
    border:none;
    background-color: #e5e4e4;
}
#contact .btn{
    background:#e4b95b ;
    columns: white;

}
#contact .btn:hover{
    color: white;
    background-color: #383848;
    cursor: pointer;
}




#footer{
    text-align: center;
    padding: 15px 0;
    background-color: #383848;
    color: white;
    font-size: 14px;
    font-weight: 500;
}









/* contact end */





















